main {
    background-image: url('../images/books.jpg');
    filter: grayscale(0.25);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    background-size: cover;
}